<!-- fema/templates/fema/index.html -->

<!DOCTYPE html>
<html>
<head>
    <title>RBI Log Data</title>
</head>
<body>

    <h1>RBI Log Data</h1>

    <table border="1">
        <thead>
            <tr>
                <th>Sr. No</th>
                <th>Source Name</th>
                <th>Script Status</th>
                <th>Data Available</th>
                <th>Data Scraped</th>
                <th>Month</th>
                <th>Year</th>
                <th>File Name</th>
                <th>Failure Reason</th>
                <th>Comments</th>
                <th>Data Updated</th>
                <th>Date of Scraping</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in rbi_data %}
                <tr>
                    <td>{{ entry.Sr_no }}</td>
                    <td>{{ entry.source_name }}</td>
                    <td>{{ entry.script_status }}</td>
                    <td>{{ entry.data_available }}</td>
                    <td>{{ entry.data_scraped }}</td>
                    <td>{{ entry.month }}</td>
                    <td>{{ entry.year }}</td>
                    <td>{{ entry.file_name }}</td>
                    <td>{{ entry.failure_reason }}</td>
                    <td>{{ entry.comments }}</td>
                    <td>{{ entry.data_updated }}</td>
                    <td>{{ entry.date_of_scraping }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html>
